@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

//----------------------------------*\
// SCSS BASE
//----------------------------------*/
@import 'grid';

$font-color: black;

body {
  color: $font-color;
  font-family: 'Source Sans Pro', sans-serif;
}
