
//----------------------------------*\
// Just for demo of this app but usually I would define primary, secondary etc. and the work /// with the various shades of these. e.g. darken( $primary, 10% ) based on brand guidlines.
//----------------------------------*/
$primary: black;
$secondary: #9e9e9e;

$font-color: $primary;
$font-color-subtle: $secondary;

$font-base-size: 16px;
