@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  color: $font-color;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-base-size;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}
